<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riyan Maulana</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #004643">
    <nav style="background-color: #004643" class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/"><img
            src="/image/logo.png"
            style="width: 40px; height: 40px"
            alt=""
            srcset=""
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text-light fw-bold ms-2"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            <li class="nav-item">
              {{#if isLogin}}
                <a
                  class="nav-link text-light fw-bold ms-2"
                  aria-current="true"
                  href="/add-project"
                  style="color: #f9bc60"
                >Add Project</a>
              {{/if}}
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light fw-bold ms-2"
                href="/testimonial"
              >Testimonial</a>
            </li>
          </ul>
          <div class="d-flex" role="search">
            {{#if isLogin}}
              <a
                class="nav-link px-2 fw-bold"
                style="color: #f9bc60;"
                href="/registrasi"
              >Hallo , {{user}}</a>
              <a
                class="nav-link px-2 fw-bold"
                style="color: #f9bc60;"
                href="/logout"
              >Logout</a>
            {{else}}
              <a
                class="nav-link px-2 fw-bold"
                style="color: #f9bc60;"
                href="/register"
              >Registrasi</a>
              <a
                class="nav-link px-2 fw-bold"
                style="color: #f9bc60; margin-right: 10px"
                href="/login"
              >Login</a>
            {{/if}}
            <button
              class="border border-0 me-4 rounded"
              type="submit"
              style="background-color: #f9bc60"
            >
              <a class="nav-link text-dark px-2 fw-bold" href="/contact">Contact
                Me</a>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div
      style="
        width: 100%;
        height: 100vh;
        background-color: #004643;
        padding: 50px;
      "
    >
      <div class="card mb-3 mx-auto p-3 shadow-lg" style="max-width: 700px">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Hi welcome to my hut</h5>
              <p class="card-text">
                Halo perkealkan nama saya Riyan Maulana asal dari Cicurug
                Sukabumi Jawa Barat. Terkait dengan saya mengikuti bootcamp di
                dumbway ini semoga bisa menjadi jembatan untuk mempelajari
                webrogramming lebih dalam, selain di universitas dan bisa
                menjadi Fullstack Developer.
              </p>

              <div class="d-flex gap-2">
                <div class="bg-dark py-1 px-5 rounded">
                  <a
                    class="text-decoration-none text-light fw-bold"
                    href="https://api.whatsapp.com/send?phone=+6285774534980"
                  >Contact</a>
                </div>
                <div class="cv">
                  <a
                    class="text-decoration-none text-dark fw-bold"
                    href=""
                  >Download CV <i class="fa-solid fa-download"></i></a>
                </div>
              </div>
              <div class="mt-4">
                <a
                  class="me-3"
                  style="font-size: 30px; color: black"
                  href="https://www.facebook.com/Riyan%20Maulana"
                ><i class="fa-brands fa-facebook"></i></a>
                <a
                  class="me-3"
                  style="font-size: 30px; color: black"
                  href="https://www.tiktok.com/@Riyan04m?_t=8h8Th6lihU8&_r=1"
                ><i class="fa-brands fa-tiktok"></i></a>
                <a
                  class="me-3"
                  style="font-size: 30px; color: black"
                  href="https://www.instagram.com/riyanmaulana24?utm_source=ig_web_button_share_sheet&igsh=OGQ5ZDc2ODk2ZA=="
                ><i class="fa-brands fa-instagram"></i></a>
                <a
                  class="me-3"
                  style="font-size: 30px; color: black"
                  href="https://api.whatsapp.com/send?phone=+6285774534980"
                ><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <img
              src="/image/download2.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
            <h3>Riyan Maulana</h3>
            <h5>fullstack Developer</h5>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-center flex-wrap gap-3 p-4 bg-body-secondary"
      id="contents"
    >
      {{#each dataDami}}
        <div
          class="card-form d-flex flex-column justify-content-between border rounded p-4"
          style="background-color: #9dbc98; width: 300px"
        >
          <div class="kelas3">
            <img
              style="width: 100%; height: 190px; border-radius: 7px"
              src="/image/AI.avif"
              alt=""
            />
          </div>
          <div class="">
            <a
              class="nav-link text-light fw-bold fs-5"
              href="/detail-project/{{@index}}"
            >{{this.title}}</a>
            <div class="text-light" style="font-size: 10px; font-weight: 200">
              <p>{{this.created_at}}|
                {{this.durasiProject}}|{{this.authorname}}</p>
            </div>

            <p class="text-light" style="text-align: justify">
              {{this.description}}
            </p>
          </div>
          <div class="text-light d-flex gap-3" style="font-size: 20px">
            {{#each technologies}}
              <i class="fa-brands fa-{{this}}"></i>
            {{/each}}
          </div>

          {{#if this.isLogin}}
            {{#if this.isOwner}}
              <div
                class="d-flex justify-content-center align-items-end mt-2"
                style="width: 100%;"
              >
                <div class="w-50">
                  <button
                    class="d-flex justify-content-center border-0 fw-bold"
                    style=" padding: 3px 35px; background-color: #f9bc60;"
                  >
                    <a class="nav-link" href="/delete/{{this.id}}">Hapus</a>
                  </button>
                </div>
                <div class="w-50">
                  <button
                    class="d-flex justify-content-center border-0 fw-bold"
                    style=" padding: 3px 46px; margin-left: 2px; background-color: #f9bc60;"
                  >
                    <a class="nav-link" href="/edit/{{this.id}}">Edit</a>
                  </button>
                </div>
              </div>
            {{/if}}
          {{/if}}

        </div>
      {{/each}}
    </div>

  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script src="/src/asset/js/project.js"></script>
</html>